footer {
    position: sticky;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 20px 15px 0;
    left: 0;
    bottom: 15px;
    
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: $primary-color;

        i {
            color: white;
            font-size: 2rem;
            transition: all .4s;

            &:hover {
                font-size: 2.5rem;
                transition: all .4s;
            }
        }
    }
}